# Ignore Python virtual environment
venv/**
./venv/**

# Ignore Python bytecode and cache directories
__pycache__/**
**/__pycache__/**

# Ignore image outputs
results/images/**
*.tiff

# Ignore CSV outputs and test data
./results/csv/extracted/*csv
./results/csv/test/*csv

# Ignore saved BERTopic models or other large model files
results/models/**
