# Ignore Python virtual environment
venv/**
./venv/**

# Ignore Python bytecode and cache directories
__pycache__/**
**/__pycache__/**

# Ignore image outputs
results/images/**
*.tiff

# Ignore CSV outputs and test data
results/_old/**

# Ignore saved BERTopic models or other large model files
results/models/**
results/tokenizer/**
models/**

# Ignore quantized models
data/quantizied_models/**
data/quantizied_models/phi-4-Q4_K_M.gguf

# Ignore input data
data/images/**
./data/images/**

#Temporarly removing
./data/txt/** 
./stats_analysis/bertopic_analysis/_old/data/**
./results/csv/bertopic/**

