absl-py
annotated-types
anyio
astor
astunparse
attrdict
Babel
bce-python-sdk
beautifulsoup4
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cssselect
cssselect2
cssutils
cycler
Cython
decorator
defusedxml
easyocr
editdistance
efficientnet
essential-generators
et-xmlfile
exceptiongroup
filelock
fire
Flask
flask-babel
flatbuffers
fonttools
fsspec
future
fuzzywuzzy
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
html5lib
httpcore
httpx
huggingface-hub
idna
imageio
imgaug
importlib_metadata
itsdangerous
Jinja2
joblib
keras
Keras-Applications
keras-ocr
kiwisolver
langdetect
lazy_loader
libclang
lmdb
lxml
Markdown
MarkupSafe
matplotlib
ml-dtypes
more-itertools
mplcursors
mpmath
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnx
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
packaging
paddleocr
paddlepaddle
pandas
pdf2docx
pillow
premailer
protobuf
psutil
pyasn1
pyasn1_modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic_core
pydyf
PyMuPDF
PyMuPDFb
pyparsing
pypdfium2
pyphen
pytesseract
python-bidi
python-dateutil
python-doctr
python-docx
python-dotenv
pytz
PyYAML
rapidfuzz
rarfile
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
shapely
six
sniffio
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf2onnx
threadpoolctl
tifffile
tinycss2
torch
torchvision
tqdm
triton
typing_extensions
typing-inspection
tzdata
Unidecode
urllib3
validators
visualdl
weasyprint
webencodings
Werkzeug
wrapt
zipp
zopfli 